<%= render "layouts/navbar" %>

<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Apartmet Cleaning Service</h1>
  <p class="lead">for Airbnb hosts.</p>
  <a class="btn btn-large btn-success" href="book">Book</a>
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
  <div class="span4">
    <h2>Cleaning</h2>
    <p>Service designed for Airbnb hosts. All cleaners understand how to prepare your rental specifically for Airbnb.</p>
    <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
  </div>
  <div class="span4">
    <h2>Sheets and Towels</h2>
    <p>We provide clean sheets and towels so you don't have to worry about sharing your own.</p>
    <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
 </div>
  <div class="span4">
    <h2>Other Services</h2>
    <p>Arrange airport pick-up, guest welcome packages, key drop off and other ancillary services.</p>
    <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
  </div>
</div>

<hr>

<%= render "static_pages/comments" %>