@import "bootstrap";

body {
	padding-top: 20px;
	padding-bottom: 60px;
}

/* Custom container */
.container {
	margin: 0 auto;
	max-width: 1000px;
}
.container > hr {
	margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 80px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	font-weight: normal;
	line-height: 1;
}
.jumbotron .lead {
	font-size: 50px;
	font-weight: bold;
	color: #5A87D8;
	line-height: 1.25;
	margin-bottom: 25px;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	padding: 0;
}
.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}
.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}
.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255,255,255,.75);
	border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}
.small {
	font-weight: bold;
	color: #5A87D8;
}
.brand {
	font-weight: bold;
	color: #5A87D8;
}

/* Booking form */
.support-body {
	height: 580px;
	width: 700px;
	margin: 50px auto;
	border-radius: 6px;
	background-color: #F1F1F1;
	-webkit-box-shadow: 0 3px 4px #C2C2C2;
	padding: 0px 20px;
	h2 {
		border-bottom: 1px solid #cccccc;
		padding: 10px 0px;
		font-size: 20px;
  }
}

#form {
  padding-top: 10px;
}

.field {
	height: 55px;
}

.label {
  font-style: bold;
}

#new_user {
	margin-bottom: 0px;
}

#user_name, 
#user_email,
#user_phone_number,
#user_address,
#booking_date,
#booking_time {
  margin: 0px;
  border-radius: 6px;
}

#booking_sheets,
#booking_washer {
  margin-bottom: 0px;
  border-radius: 6px;
  margin-right: 7px;
}

#last {
	margin-bottom: 20px;
}

#checkbox {
	height: 25px;
	margin-bottom: 10px;
}


