<div class="masthead">
  <h3><span class="brand">HummingBird</span> </h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><a href="book">Services</a></li>
          <li><a href="book">Pricing</a></li>
          <li><a href="book">Locations</a></li>
          <li><a href="book">Contact</a></li>
          <li><a href="book">Help</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->