<div class="masthead">
  <h3><span class="brand">HummingBird</span> </h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="active"><a href="http://still-springs-3943.herokuapp.com">Home</a> </li>
          <li><a href="http://still-springs-3943.herokuapp.com/book">Services</a></li>
          <li><a href="http://still-springs-3943.herokuapp.com">Pricing</a></li>
          <li><a href="http://still-springs-3943.herokuapp.com">Locations</a></li>
          <li><a href="http://still-springs-3943.herokuapp.com">Contact</a></li>
          <li><a href="http://still-springs-3943.herokuapp.com">Help</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->